@{
    ViewData["Title"] = "Home Page";
}
    <div class="parrafos">
        <p style="margin-top: 15px">El desayuno es la primera comida que se consume en el día. El nombre deriva del hecho de que uno no come mientras duerme, por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).</p>
        <p style="margin-top: 15px">En Argentina, Paraguay y Uruguay, se desayuna mate cocido, té, leche chocolatada o café con leche, jugo de naranja, con algo dulce</p>
        <p style="margin-top: 15px">El desayuno continental es un tipo de desayuno basado en el desayuno francés o sea lo que suelen desayunar los franceses. Consiste típicamente en café y leche compañados con una variedad de bollos dulces tales como el brioche y pasteles tales como el cruasán</p>
    </div>

@section SideBar
    {
    <div class="imagenes">
        <h5>@ViewBag.Nombre</h5>
        <img src="./css/imgs/1.jpg" alt="imagen de comida" />
        <img src="./css/imgs/3.jpg" alt="imagen de comida" />
        <img src="./css/imgs/4.jpg" alt="imagen de comida" />
    </div>
}



